body {
  font-family: 'Roboto Condensed', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(43, 43, 43);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(146, 146, 146);
}