@import url("./screen-loader.css");
@import url("./generate-loader.css");

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.tooltip-inner {
  font-size: 0.8rem;
}

.table-scrollable {
  overflow-x: auto;
  min-width: 600px;
  box-shadow: inset 0 0 5px rgba(150, 150, 150, 0.35);
  margin: auto;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(43, 43, 43);
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(146, 146, 146);
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100vw;
  }  
}

@media only screen and (max-width: 1400px) and (min-width: 992px) {
  .container {
    max-width: 50vw;
  }
}
