<!DOCTYPE html>
<html>
  <head>
   <!-- Title of the Web Page -->
   <title>{% block title %}{% endblock %}</title>

   <!-- Allow responsiveness -->
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <meta charset="utf-8" />

   <!-- Bootstrap CSS -->
   <link
     href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
     rel="stylesheet"
     integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
     crossorigin="anonymous"
   />

   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.getotic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Condensed&display=swap" rel="stylesheet">

   <!-- Link FlatIcon CDNs -->
   <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css"/>
   <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/2.0.0/uicons-brands/css/uicons-brands.css">

   <!-- Load Font Awesome CSS -->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"/>

   <!-- Load Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

   <!-- Bootstrap JS -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

   {% block custom_style %}{% endblock %}
   {% block custom_script %}{% endblock %}

 </head>
 <body 
  style="
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;">
    {% with navbar_brand='A.I. CV Scanner Pro' %}
      {% include 'navbar.html' %}
    {% endwith %}
    {% block content %}{% endblock %}
    {% with current_year=2024 %}
      {% include 'footer.html' %}
    {% endwith %}
    
    <script>

      async function updateContactLinks() {

        const contactsWeChatLink = document.querySelector("#contacts_wechat_link");
        const contactsPhoneLink = document.querySelector("#contacts_phone_link");
        const contactsWhatsAppLink = document.querySelector("#contacts_whatsapp_link");
        const contactsEmailLink = document.querySelector("#contacts_email_link");
        const contactsLinkedInLink = document.querySelector("#contacts_linkedin_link");

        const getContactsTask = await getContacts();

        // Set an interval to update modal with user details
        const intervalID = setInterval(async () => {
          const formData = new FormData();
          formData.append("task_id", getContactsTask.task_id);
          await fetch("/getContactsTask", {
            method: "POST",
            body: formData
          }).then((response) => {
            if (response.ok) {
              return response.json();
            }
            return Promise.reject(response);
          }).then((responseData) => {

            if (responseData.task_status == "SUCCESS") {
              clearInterval(intervalID);

              const contactsWeChat = responseData.contacts.contacts_wechat;
              const contactsPhone = responseData.contacts.contacts_phone;
              const contactsWhatsApp = responseData.contacts.contacts_whatsapp;
              const contactsEmail = responseData.contacts.contacts_email;
              const contactsLinkedIn = responseData.contacts.contacts_linkedin;

              contactsWeChatLink.setAttribute("href", contactsWeChat ? contactsWeChat : '#');
              contactsPhoneLink.setAttribute("href", contactsPhone ? "tel:"+contactsPhone : '#');
              contactsWhatsAppLink.setAttribute("href", contactsWhatsApp ? contactsWhatsApp : '#');
              contactsEmailLink.setAttribute("href", contactsEmail ? "mailto:"+contactsEmail : '#');
              contactsLinkedInLink.setAttribute("href", contactsLinkedIn ? contactsLinkedIn : '#');

            }

          });
        }, 500);

      }

      async function getContacts() {
        const response = await fetch("/getContacts", {
          method: "GET"
        })
        .then((response) => {
          if (response.ok) {
            return response.json();
          }
          return Promise.reject(response);
        }).catch((error) => {
          console.log(error);
        });
        return response;
      }

      updateContactLinks();

    </script>
  </body>
</html>
