<!-- Footer -->
<section>
  <div class="container-fluid bg-dark text-white mt-4">
    <footer
      class="d-flex flex-column justify-content-center align-items-center py-4">
      <div class="d-flex flex-row justify-content-center mb-2">
        <a id="contacts_wechat_link" href="#" target="_blank" rel="noopener noreferrer" class="mx-2" style="text-decoration: none;">
          <i class="fab fa-weixin" style="color: white; font-size: 1.2rem;"></i>
        </a>
        <a id="contacts_phone_link" href="#" target="_blank" rel="noopener noreferrer" class="mx-2" style="text-decoration: none;">
          <i class="fi fi-sr-phone-flip" style="color: white; font-size: 1.2rem;"></i>
        </a>
        <a id="contacts_whatsapp_link" href="#" target="_blank" rel="noopener noreferrer" class="mx-2" style="text-decoration: none;">
          <i class="fi fi-brands-whatsapp" style="color: white; font-size: 1.2rem;"></i>
        </a>
        <a id="contacts_email_link" href="#" target="_blank" rel="noopener noreferrer" class="mx-2" style="text-decoration: none;">
          <i class="fi fi-sr-envelope" style="color: white; font-size: 1.2rem;"></i>
        </a>
        <a id="contacts_linkedin_link" href="#" target="_blank" rel="noopener noreferrer" class="mx-2" style="text-decoration: none;">
          <i class="fi fi-brands-linkedin" style="color: white; font-size: 1.2rem;"></i>
        </a>
      </div>
      <div class="d-flex align-items-center mb-2" style="font-size: 0.9rem;">
        Paradox Management Limited
      </div>
      <div class="d-flex align-items-center" style="font-size: 0.9rem;">
        &copy; Copyright {{ current_year }}
      </div>
    </footer>
  </div>
</section>